.player-wrapper {
  /* position: relative;
    padding-top: 56.25% Player ratio: 100 / (1280 / 720) */

  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
}

.post-title {
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
}

.react-player {

  position: absolute;
  top: 1%;
  left: 10%;
  text-align: center;
}

.post-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {

  .react-player {
    position: absolute;
    top: 1%;
    left: 10%;
    text-align: center;
  }

  .post-title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

}
