#container {
    height: 400px;
    width: 700px;
    background: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 40px 0;
    overflow: hidden;
    box-shadow: 2px 2px 4px #00000010, -2px -2px 4px #00000010;
}
.one-card{
    margin-left: 400px;
}

#box{
    width: 100%;
    display:flex;
    justify-content: center;
}
#calculator,
#guide {
    height: 400px;
    width: 350px;
    padding: 20px;
}

#guide {
    background: #000000;
    color: white;
}

#calculator h2,
#guide h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: #1479ff;
}

#guide h2 {
    color:white;
    letter-spacing: 2px;
    font-size: 50px;
}

#calculator input[type="text"] {
    height: 45px;
    width: 310px;
    margin: 10px 0;
    padding: 0px 15px;
    border: 2px solid black;
    outline: none;
    background: #f3f8ff;
    color: black;
    font-size: 15px;
    font-weight: 800;
}

#calculator input[type="text"]::placeholder {
    color: grey;
}

#calculator input[type="submit"] {
    height: 50px;
    width: 310px;
    margin: 20px 0;
    padding: 0px 15px;
    border: none;
    outline: none;
    background: black;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.suggest{
    width: 400px;
    height: 500px;
    margin: auto;
}
@media screen and (max-width: 414px) {
   .hidemobile{
       display: none;
   }
   #calculator{
       margin:auto
   }
    
}

#calculator #yourBMI {
    font-size: 20px;
    color: #1479ff;
    font-weight: 800;
}

#guide ul {
    padding: 0 20px;
}

#guide ul text {
    height: 100px;
    font-size: 16px;
    display: flex;
}
.w_title{
    margin-top: 4%;
}
.suggest{
    width: 400px;
    height: 500px;
    margin: auto;
}
