:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color:black;
  border: 1px solid var(--primary);
}
.btn--notice{
  background-color:#cf2424;
  color: white;
  border: 1px solid ;
  transform: skew(-10deg);

}

.btn--search{
  color: red;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 15px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  align-items: center;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 10px 70px;
  font-size: 14px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
