section .cart{
    position: relative;
    border: 1px solid #ccc;
}
.amount{
    text-align: center;
}
.amount span{
    color: crimson;
    padding: 0 10px;
}
.amount .count{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.delete{
    position: absolute;
    top:1;
    right: 15px;
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}
.count{
    color:black;
}
.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:0% !important

}
.total a{
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    color: crimson;
}
.detail{
    border-bottom:10px solid red;
}
.totalProd{
    color: red;
    font-weight: bold;
    margin-left:17%;
    font-size: medium;
}
.subtotal{
    font-weight: bold;
    font-size: 30px;
    color:red;
   
}
.totalprice{
    font-weight: bold;
    font-size: 30px;
    color: red;
}
.btnPay{
    margin-left: 0%;
}
.btnPay img {
    width: 200px;
    height: 80px;
    background-color: white;
     border: 1px;
   
 }
 .paypal1{
    font-size: 26px;
     border: 1px;  
}
.paypal1{
    font-size: 26px;
   
 }
 @media screen and (max-width: 960px) {
    .btnPay img{
        padding-right: -10px;
        width: 100px;
        height: 30px;
    }
    
    .paypal1{
        font-size: 16px;
     }


    .paypal1{
        font-size: 16px;
     }

    
    .paypal1{
        font-size: 16px;
     }
 }

 
 
 
