.cards {
    padding: 1rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  h2{
    text-align: center;
  }
  .cards__items_onecard
  {
    margin-left: 40%;
  }

  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    text-decoration: none;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 5px 0 10px;
    width: 100%;
    
  }
  
  .cards__items {
    margin-top: 50px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .cards__item_lists {
    width: 100%;
    display: flex;
    flex: 0;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  .cards__item {
    max-width: 25%;
    display: flex;
    margin-top: 1rem;
    border-radius: 10px;
  }
  h6{
    color: red;
    font-style: italic;
    font-size: 14px;
    margin-top: 2px;

  }
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 248px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow:hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    
  }

  .item-red::after{
    background-color: red;
    font-size: 12px;
  }

  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  
  .cards__item__info {
    padding: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
  }
  .cards__items_onecard
  {
    margin-left: 40%;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 20px;
    text-decoration: none;
    /* line-height: 24px; */
  }
  .cards__items_one{
    margin-left:45%;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 1rem;
    }

  }
  /* mobile */
  /* @media only screen and (max-device-width: 480px) {
   
    } */
    @media screen and (max-width: 414px) {
      .cards__item__text {
        color: #252e48;
        font-size: 12px;
        text-decoration: none;
        /* line-height: 24px; */
      }
      .cards__items{
        margin-top: 0px;
      }
      .cards__item__info {
        padding: 5px;
        text-align: center;
        text-decoration: none;
      }
      .cards__item__link {
        width:200px;
        margin-left: 5px;

        /* height: 312px; */
      }
      .item-red::after{
        display: none;
        /* background-color: red;
        font-size: 9px;
        width:50px; */
      }
 }
  