.searchbar{
  background: white;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
/* position: sticky; */
top: 0;
z-index: 999;
}
.searchbar-container {
  display: flex;
  overflow-y:scroll;
  overflow-x:hidden;
  justify-content:flex-end ;
  align-items: center;
  height: 60px;
  width: 100%;
}

.search-links {
  color: white;
  background-color: black;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  float: left;
  height: 100%;
}

.search-links:hover {
  /* border-bottom: 2px solid black; */
  /* transition: all 0.2s ease-out; */
  text-decoration: none;
  color: grey;
}
ul {
  list-style-type: none;
  padding: 0;
  margin:0;
  display: flex;
  
}
input{
    width: 100px;
}
.noborder{
  padding: 0;
  height: 37px;
}

